In [1]:
import pandas as pd
path="melb_data.csv"

In [6]:
pd.read_csv(path)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [16]:
data=pd.read_csv(path)
y=data.Price
melb_data=data.drop(['Price'], axis=1)
X=melb_data.select_dtypes(exclude=['object'])
X

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
0,2,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,-37.79960,144.99840,4019.0
1,2,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,-37.80790,144.99340,4019.0
2,3,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,-37.80930,144.99440,4019.0
3,3,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,-37.79690,144.99690,4019.0
4,4,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,-37.80720,144.99410,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...
13575,4,16.7,3150.0,4.0,2.0,2.0,652.0,NaN,1981.0,-37.90562,145.16761,7392.0
13576,3,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,-37.85927,144.87904,6380.0
13577,3,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,1997.0,-37.85274,144.88738,6380.0
13578,4,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,-37.85908,144.89299,6380.0
13579,4,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,-37.81188,144.88449,6543.0

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_valid,y_train,y_valid=train_test_split(X,y,train_size=0.7, test_size=0.3)

In [23]:
M_XT=X_train.copy()
M_XV=X_valid.copy()
M_yt=y_train.copy()
M_yv=y_valid.copy()

In [27]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [33]:
def model(X_train,X_valid,y_train,y_valid):
    model=RandomForestRegressor()
    model.fit(X_train,y_train)
    predections=model.predict(X_valid)
    return mean_absolute_error(predections,y_valid)

### 1.Dropping the missing values

In [30]:
cols_missing_data=[
    col for col in M_XT
    if M_XT[col].isnull().any()
]
cols_missing_data

['Car', 'BuildingArea', 'YearBuilt']

In [31]:
M_XT_Dropped=M_XT.drop(cols_missing_data,axis=1)
M_XV_Dropped=M_XV.drop(cols_missing_data,axis=1)

In [34]:
print("MAE calculated from the dropping table is:", model(M_XT_Dropped,M_XV_Dropped,y_train,y_valid))

MAE calculated from the dropping table is: 180020.116405239

### 2.By imputing the missing values:

In [41]:
from sklearn.impute import SimpleImputer

In [44]:
myimputer=SimpleImputer()
M_XT_I=pd.DataFrame(myimputer.fit_transform(M_XT))
M_XV_I=pd.DataFrame(myimputer.fit_transform(M_XV))

In [45]:
print("MAE calculated from the imputation is:", model(M_XT_I,M_XV_I,y_train,y_valid))

MAE calculated from the dropping table is: 173485.34072515604

### 3.Extension of imputation

In [56]:
myImputer=SimpleImputer()
for col in cols_missing_data:
    M_XT[col +"_was_missing"]=M_XT[col].isnull()
    M_XV[col +"_was_missing"]=M_XV[col].isnull()

In [59]:
M_XT_EI=pd.DataFrame(myImputer.fit_transform(M_XT))
M_XV_EI=pd.DataFrame(myImputer.transform(M_XV))

In [60]:
print("MAE calculated from the Extension of Imputation is:", model(M_XT_I,M_XV_I,y_train,y_valid))

MAE calculated from the Extension of Imputation is: 172872.20367717076

# categorocal values exercise