In [1]:
#pandas
import pandas as pd

In [8]:
fruit_sales=pd.DataFrame( {'Apples' : [35,21], 'Bananas ' : [41,34], index=['2017 Sales', '2012 Sales'] })
fruit_sales

SyntaxError: ':' expected after dictionary key (2636560314.py, line 1)

In [11]:
fruit_sales=pd.DataFrame( {'Apples' : [35, 21],   'Bananas ' : [41, 34]}, index=['2017 Sales', '2012 Sales'] )
fruit_sales

            Apples  Bananas
2017 Sales      35        41
2012 Sales      21        34

In [12]:
fruit_sales

            Apples  Bananas
2017 Sales      35        41
2012 Sales      21        34

In [14]:
fruit_sales.to_csv("Documents/fruits.csv")